<form [formGroup]="form">
  <div class="form-group" formGroupName="password">
    <div class="form-group">
      <label for="oldPassword">Enter Old Password</label>
      <input type="text" class="form-control" formControlName="oldPassword" id="oldPassword">
      <div *ngIf="oldPassword.pending">
        Checking Password.......
      </div>
      <div class="alert alert-danger" *ngIf="oldPassword.touched&& oldPassword.invalid">
        <div *ngIf="oldPassword.errors.required">Please enter old password!!!</div>
        <div *ngIf="oldPassword.errors.passwordmatch">Invalid Password!!!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">Enter New Password</label>
      <input type="text" class="form-control" formControlName="newPassword" id="newPassword">
      <div class="alert alert-danger" *ngIf="newPassword.touched&& newPassword.invalid">
        <div *ngIf="newPassword.errors.required">Please enter new password!!!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="reNewPassword">Re-enter New Password</label>
      <input type="text" class="form-control" formControlName="reNewPassword" id="reNewPassword">
      <div class="alert alert-danger" *ngIf="reNewPassword.invalid&&reNewPassword.touched">
        <div *ngIf="reNewPassword.errors.required">Please re-enter new password!!!</div>

      </div>
      <div class="alert alert-danger" *ngIf="reNewPassword.valid&&password.errors && password.errors.passwordsame">
        Passwords do not match!!!
      </div>
    </div>

    <button class="btn btn-primary">Change Password</button>
  </div>
</form>
