<div class="mainDiv">
  <div class="card">
    <div class="card-body clickable" (click)="onClick()"
     [style.backgroundColor]= "!isDown?'#f9f9f9':'initial'">
      <div class="clickableText">
        {{title}}
      </div>
      <span
        class="glyphicon"
        [ngClass]="{
          'glyphicon-chevron-down' : isDown,
          'glyphicon-chevron-up':!isDown
        }">
      </span>
    </div>

    <div class="collapse"
      [ngClass]="{
        'hide' : isDown,
        'show' : !isDown
      }">

      <div class="card-body contentText">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

